<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
    <title>OrderFood</title>
</head>
<body>
<!--<form th:action="@{/logout}" method="post">-->
<!--    <a th:href="@{/logout}" class="btn btn-danger">Log out</a>-->
<!--</form>-->

<!--<form th:action="@{/logout}" method="post">-->
<!--    <div class="col-md-6">-->
<!--        <input type="submit" value="Log out!" class="btn btn-danger">-->
<!--    </div>-->
<!--</form>-->


<!--<div class="container">-->
<!--    <a th:href="@{/logout}" class="btn btn-danger">Log out</a>-->
<!--</div>-->
<div class="container">
    <div class="col-md-6">
        <form th:action="@{/logout}" method="post" th:if="${#authorization.expression('isAuthenticated()')}">
            <input type="submit" value="Log out" class="btn btn-danger">
        </form>
        <a th:href="@{/login}" class="btn btn-primary" th:unless="${#authorization.expression('isAuthenticated()')}">
            Log in
        </a>
    </div>


    <h1>OrderFood</h1>
    <div class="row mt-3">
        <div class="col-md-4">
            <a th:href="@{/restaurant}" class="btn btn-info" role="button">Restaurant</a>
        </div>
        <div class="col-md-4">
            <a th:href="@{/street}" class="btn btn-info" role="button">Customer</a>
        </div>
    </div>
</div>
</body>
</html>