<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
    <title>OrderFood</title>
</head>
<body>
<div class="container">
    <h2>Logging</h2>
    <div class="row mt-3">
        <div class="col-md-4">
            <a th:href="@{/}" class="btn btn-info" role="button">Go back to the main page</a>
        </div>
    </div>
    <br>
</div>
<div class="container">
    <div class="col-md-6">
        <form action="#" th:action="@{/login}" method="post">
            <div class="row mt-3">
                <h3>If you are existing restaurant - please log in! </h3>
                <div class="row mt-3">
                    <div class="col-md-3">
                        <label for="username">User name:</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" id="username" name="username" required>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-3">
                        <label for="password">Password:</label>
                    </div>
                    <div class="col-md-3">
                        <input type="password" id="password" name="password" required>
                    </div>
                </div>
                <br>
                <div class="row mt-3">
                    <div class="col-md-6">
                        <input type="submit" value="Log in!" class="btn btn-success">
                    </div>
                </div>
            </div>
        </form>
        <div th:if="${param.error}" class="row mt-3">
            <div class="col-md-12">
                <div class="alert alert-danger" role="alert">
                    Invalid username or password.
                </div>
            </div>
        </div>
        <div th:if="${param.logout}" class="row mt-3">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert">
                    You have been logged out.
                </div>
            </div>
        </div>
        <br>
        <h3>If you want to open new restaurant - please sign in!</h3>
        <div class="row mt-3">
            <div class="col-md-4">
                <a th:href="@{/register}" class="btn btn-success" role="button">Create!</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<!--<!DOCTYPE html>-->
<!--<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">-->
<!--<head>-->
<!--    <title>Please Log In</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Please Log In</h1>-->
<!--<div th:if="${param.error}">-->
<!--    Invalid username and password.</div>-->
<!--<div th:if="${param.logout}">-->
<!--    You have been logged out.</div>-->
<!--<form th:action="@{/login}" method="post">-->
<!--    <div>-->
<!--        <input type="text" name="username" placeholder="Username"/>-->
<!--    </div>-->
<!--    <div>-->
<!--        <input type="password" name="password" placeholder="Password"/>-->
<!--    </div>-->
<!--    <input type="submit" value="Log in" />-->
<!--</form>-->
<!--</body>-->
<!--</html>-->