<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
    <title>OrderFood</title>
    <style>
        .meal-photo {
            width: 100px;
            height: 100px;
            object-fit: cover;
        }
    </style>
</head>

<body>
<div class="container">
    <h1>OrderFood</h1>
</div>

<div class="container">
    <a th:href="@{/logout}" class="btn btn-danger">Log out</a>
</div>

<div class="container">
    <div class="row mt-3">
        <div class="col-md-4">
            <a th:href="@{/}" class="btn btn-info" role="button">Go back to the main page</a>
        </div>
    </div>

    <br>
    <br>

    <h2>Your menu</h2>

    <form th:action="@{/create_order}" method="post" th:object="${orderDTO}">
<!--        <input type="hidden" th:field="*{restaurant.restaurantId}" th:value="${restaurantId}"/>-->
<!--        <input type="hidden" name="restaurantId" value="{restaurantId}">-->
        <input type="hidden" name="restaurantId" th:value="${restaurantId}"/>
        <table class="table">
            <thead class="table-dark">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Category</th>
                <th>Picture</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="meal, iterStat : ${mealList}">
                <td th:text="${meal.name}"></td>
                <td th:text="${meal.description}"></td>
                <td th:text="${meal.category}"></td>
                <td><img th:src="'data:image/jpeg;base64,' + ${meal.mealPhoto}" alt="Meal Photo" class="meal-photo"/></td>
                <td th:text="${meal.price}"></td>
                <td>
                    <input type="hidden" th:field="*{itemList[__${iterStat.index}__].meal.mealId}" th:value="${meal.mealId}"/>
                    <input type="text" th:field="*{itemList[__${iterStat.index}__].quantity}" class="form-control quantity-input" placeholder="Enter quantity"/>
                </td>
            </tr>
            </tbody>
        </table>
        <br>
        <h2>Customer Details</h2>
        <div class="form-group">
            <label for="customerName">Name</label>
            <input type="text" id="customerName" th:field="*{customer.name}" class="form-control" placeholder="Enter name"/>
        </div>
        <div class="form-group">
            <label for="customerSurname">Surname</label>
            <input type="text" id="customerSurname" th:field="*{customer.surname}" class="form-control" placeholder="Enter surname"/>
        </div>
        <div class="form-group">
            <label for="customerEmail">Email</label>
            <input type="email" id="customerEmail" th:field="*{customer.email}" class="form-control" placeholder="Enter email"/>
        </div>
        <div class="form-group">
            <label for="customerAddress">Address</label>
            <input type="text" id="customerAddress" th:field="*{customer.address.name}" class="form-control" placeholder="Enter address"/>
        </div>
        <div class="form-group">
            <label for="customerNumber">Number</label>
            <input type="text" id="customerNumber" th:field="*{customer.address.number}" class="form-control" placeholder="Enter number"/>
        </div>
        <div class="row mt-3">
            <div class="col-md-4">
                <button type="submit" class="btn btn-info">Create Order</button>
            </div>
        </div>
    </form>
    <br>
</div>
</body>
</html>
