<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
    <title>OrderFood</title>
    <style>
        .meal-photo {
            width: 100px;
            height: 100px;
            object-fit: cover;
        }


    </style>
</head>

<body>
<div class="container">
    <h1>OrderFood</h1>
</div>

<div class="container">
    <div class="col-md-6">
        <form th:action="@{/logout}" method="post" th:if="${#authorization.expression('isAuthenticated()')}">
            <input type="submit" value="Log out" class="btn btn-danger">
        </form>
        <a th:href="@{/login}" class="btn btn-primary" th:unless="${#authorization.expression('isAuthenticated()')}">
            Log in
        </a>
    </div>
</div>

<div class="container">
    <div class="row mt-3">
        <div class="col-md-4">
            <a th:href="@{/}" class="btn btn-info" role="button">Go back to the main page</a>
        </div>
    </div>

    <br>
    <br>

    <h2>Your menu</h2>

    <table class="table">
        <thead class="table-dark">
        <tr>
            <th>Order Number and Customer</th>
            <th>Ordered Item</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orderList}">
            <!-- Kolumna z numerem zamówienia i danymi zamawiającego -->
            <td rowspan="${#lists.size(order.itemList)}">
                <div>
                    <strong>Order Number:</strong> <span th:text="${order.orderNumber}"></span>
                </div>
                <div>
                    <strong>Customer:</strong>
                    <span th:text="${order.customer.name}"></span>
                    <span th:text="${order.customer.surname}"></span>
                </div>
                <div>
                    <strong>Delivery Address:</strong>
                    <span th:text="${order.customer.address.name}"></span>,
                    <span th:text="${order.customer.address.number}"></span>
                </div>
            </td>

            <td>
                <ul>
                    <li th:each="item : ${order.itemList}">
                        <span th:text="${item.meal.name}">Item Name</span> - <span th:text="${item.quantity}">Quantity</span>
                    </li>
                </ul>
            </td>
            <td>
                <div class="row mt-3">
                    <div class="col-md-4">
                        <!-- Dodajemy link do zmiany statusu zamówienia -->
                        <form th:action="@{/complete_order/{orderId}(orderId=${order.orderId})}" method="post">
                            <button type="submit" class="btn btn-info">Complete order</button>
                        </form>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>
